// Colors
$background-primary: rgb(254,247,228);
$background-secondary: rgba(240, 240, 240, 0.3);

$background-form-primary: #ffffff;

$background-header-card: #FCE094;
$background-body-card: #ffffff;

$color-white: #ffffff;
$color-black: rgb(0, 0, 0);
$color-sidebar-link: rgb(155, 155, 155);

$color-border: rgba(155, 155, 155);
$color-border-light: rgba(155, 155, 155,.2);
$color-form-label: rgb(155, 155, 155);

$color-form-button-submit: rgb(247,181,0);
$color-form-error: rgb(175, 49, 49);

// Dimensions
$sidebar-width: 220px;

$layout-userbadget-height: 100px;
